mixin preview-catalog__item(url)
  .preview-catalog__item
    a.preview-catalog__link(href="catalog.html") 
      img.preview-catalog__image(src=url, alt="catalog-image")
    a.preview-catalog__button.button(href="catalog.html")  подробнее