mixin pagination()
  .main__pagination.pagination
    .pagination__wrapper 
      .pagination__pages 
        button#pag_1.pagination__button.pagination__button_page._page._active(type="button")
          span.pagination__number 1