mixin dropdown-menu(title) 
  .dropdown-menu.header-menu__link
    a.dropdown-menu__link(href="catalog.html") 
      span Каталог
      img(src="../common.blocks/header-menu/header-menu-arrowdown.svg", alt="arrowdown")
    .dropdown-menu__content 
        ul.dropdown-menu__category 
          h4.dropdown-menu__title.title.title_h4 Памятники из гранита
          li#stand.dropdown-menu__product._type-A
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="standart.html") Стандартные
          li#vert.dropdown-menu__product._type-A
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="vertikalnie.html") Вертикальные
          li#goriz.dropdown-menu__product._type-A
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="gorizontal.html") Горизонтальные
          li#fig.dropdown-menu__product._type-A
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="figurnie.html") Фигурные
        //===1===
        ul.dropdown-menu__category 
          h4.dropdown-menu__title.title.title_h4 Гравировка
          li#pz.dropdown-menu__product._type-A
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="#") Пейзажи
          li#obrs.dropdown-menu__product._type-A
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="#") Обратная сторона
          li#portret.dropdown-menu__product._type-A
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="#") Портреты
          li#svechi.dropdown-menu__product._type-A
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="#") Свечи
          li#zveti.dropdown-menu__product._type-A
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="#") Цветы
        //===2===
        ul.dropdown-menu__category 
          h4.dropdown-menu__title.title.title_h4 Плиты с портретом
          li.dropdown-menu__product
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="#") Черно-белые портреты
          li.dropdown-menu__product
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="#") Цветные портреты
        //===3===    
        ul.dropdown-menu__category 
          h4.dropdown-menu__title.title.title_h4 Благоустройство
          li.dropdown-menu__product
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="bordur.html") Бордюрный камень
          li.dropdown-menu__product
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="plitka.html") Гранитная и тротуарная плитка
          li.dropdown-menu__product
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="kroshka.html") Мраморная крошка
        //===4===
        ul.dropdown-menu__category 
          h4.dropdown-menu__title.title.title_h4 Аксессуары
          li.dropdown-menu__product
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="vasi.html") Вазы
          li.dropdown-menu__product
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="lampada.html") Лампады
          li.dropdown-menu__product
            span.dropdown-menu__arrow
            a.dropdown-menu__text(href="shar.html") Шары
        //===5===