include ../catalog__item/catalog__item


mixin catalog__category(title, text)
  - for(key in title)
    .catalog__category
      .catalog__title-box
        h3.catalog__title.title.title_h3= title[key].name
        +question(text, "question__big")
      .catalog__items
        - for(name in title[key].nameSub)
            +catalog__item(title[key].nameSub[name])





//- title - Объект с категориями товаров
//- title[key].name - Заголовок категории
//- title[key].nameSub - Массив с названиями товаров
//- title[key].nameSub[name] - Название товара