mixin question(text, cl)  
  .catalog__question.question
    img.question__b(src="../common.blocks/main/question/question.svg", alt="tooltip" class=cl)
    .question__tooltip
      span.question__tooltip-text tooltip
//-  cl - class imgs