.header-menu {
  background: #6C9AC8;
  &__list {
    display: flex;
    align-items: center;
  }
  &__item {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
    gap: 10px;
    padding: 20px;
    transition: all .3s;
  }
  &__link:hover {
    background: #4F769C;
  }
  &__link span{
    font-weight: 400;
    font-size: 20px;
  }
}