mixin header-menu  
  .header__menu.header-menu
    ul.header-menu__list
      li.header-menu__item 
        a.header-menu__link(href="index.html")
          span Главная
      li.header-menu__item 
        a.header-menu__link(href="catalog.html") 
          span Каталог
          img(src="../common.blocks/header-menu/header-menu-arrowdown.svg", alt="arrowdown")
      li.header-menu__item 
        a.header-menu__link(href="our-work.html") 
          span Наши работы
      li.header-menu__item 
        a.header-menu__link(href="contacts.html") 
          span Контакты