.button {
  background: #77AFE7;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 600;
}

.button span {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 600;
}

.button:hover {
  background: #4F769C;
  color: #C2C2C2;;
}