.our-work {
  &__title-box {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 20px 0;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
  }
  &__images-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
  }
  &__image:hover {
    opacity: .7;
  }
}

.modal {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // width: 80%;
    height: 100%;
    // transform: translate(-50%, -50%);
  }
  &__image {
    max-width: 98%;
    height: 90%;
  }
  &__button {
    background: none;
  }
  &.open {
    display: flex;
  }
}