//- Подключаем шаблон 
extends ../common.blocks/tmp/template.pug

//- include ../common.blocks/main/catalog/catalog
include ../common.blocks/main/catalog/catalog__category/catalog__category

block title 
  title Каталог
block content 
  main.main 
    .main__container.container
      //-  первый блок - хлебные крошки

      .main__catalog.catalog 
        .catalog__box 
          .catalog__category
            .catalog__title-box
              h3.catalog__title.title.title_h3 Памятники из гранита
              - var tooltipCategory = "Памятник из гранита — это символ скорби и вечной памяти о близком человеке.";
              +question(tooltipCategory, "question__big")
            .catalog__items
              -var type = '_type-A'
              -var href = "standart.html";
              -var tooltip = "St";
              -var src = "../common.blocks/main/preview-catalog/preview-catalog__item/1.jpg";
              -var id = "stand";
              +catalog__item('Cтандартные', href, tooltip, src, id, type)
              //===1===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var src = "../common/img/pam/vert/1.jpg";
              -var id = "vert";
              +catalog__item('Вертикальные', href, tooltip, src, id, type)
              //===2===
              -var href = "gorizontal.html";
              -var tooltip = "St";
              -var src = "../common/img/pam/gorisontalnie/1.jpg";
              -var id = "goriz";
              +catalog__item('Горизонтальные', href, tooltip, src, id, type)
              //===3===
              -var href = "figurnie.html";
              -var tooltip = "St";
              -var src = "../common/img/pam/figurnie/01.png";
              -var id = "fig";
              +catalog__item('Фигурные', href, tooltip, src, id, type)
              //===4===
          //===category===

          .catalog__category
            .catalog__title-box
              h3.catalog__title.title.title_h3 Гравировка
              - var tooltipCategory = "Гравировка";
              +question(tooltipCategory, "question__big")
            .catalog__items
              -var type = '_type-A';
              -var href = "vasi.html";
              -var id = "pz";
              -var tooltip = "St";
              //- -var src = "../common/img/graw/peizaji/1.jpg";
              +catalog__item('Пейзажи', href, tooltip, src, id, type)
              //===1===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var id = "obrs";
              -var src = "../common/img/graw/obrs/1.jpg";
              +catalog__item('Обратная сторона', href, tooltip, src, id, type)
              //===2===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var id = "portret";
              -var src = "../common/img/graw/portret/1.jpg";
              +catalog__item('Портреты', href, tooltip, src, id, type)
              //===3===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var id = "svechi";
              -var src = "../common/img/graw/svechi/1.jpg";
              +catalog__item('Свечи', href, tooltip, src, id, type)
              //===4===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var id = "zveti";
              -var src = "../common/img/graw/zveti/3.jpg";
              +catalog__item('Цветы', href, tooltip, src, id, type)
              //===5===
          //===category===

          .catalog__category
            .catalog__title-box
              h3.catalog__title.title.title_h3 Плиты с портретом
              - var tooltipCategory = "Плиты с портретом";
              +question(tooltipCategory, "question__big")
            .catalog__items
              -var type = '_type-B';
              -var href = "vasi.html";
              -var tooltip = "St";
              //- -var src = "../common/img/graw/peizaji/1.jpg";
              +catalog__item('Черно-белые портреты', href, tooltip, src)
              //===1===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var src = "../common/img/graw/obrs/1.jpg";
              +catalog__item('Цветные портреты', href, tooltip, src)
              //===2===
          //===category===

          .catalog__category
            .catalog__title-box
              h3.catalog__title.title.title_h3 Благоустройство
              - var tooltipCategory = "Благоустройство";
              +question(tooltipCategory, "question__big")
            .catalog__items
              -var href = "vasi.html";
              -var tooltip = "St";
              //- -var src = "../common/img/graw/peizaji/1.jpg";
              +catalog__item('Бордюрный камень', href, tooltip, src)
              //===1===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var src = "../common/img/graw/obrs/1.jpg";
              +catalog__item('Гранитная и тротуарная плитка', href, tooltip, src)
              //===2===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var src = "../common/img/graw/portret/1.jpg";
              +catalog__item('Мраморная крошка', href, tooltip, src)
              //===3===
          //===category===

          .catalog__category
            .catalog__title-box
              h3.catalog__title.title.title_h3 Аксессуары
              - var tooltipCategory = "Аксессуары";
              +question(tooltipCategory, "question__big")
            .catalog__items
              -var href = "vasi.html";
              -var tooltip = "St";
              //- -var src = "../common/img/graw/peizaji/1.jpg";
              +catalog__item('Вазы', href, tooltip, src)
              //===1===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var src = "../common/img/graw/obrs/1.jpg";
              +catalog__item('Лампады', href, tooltip, src)
              //===2===
              -var href = "vertikalnie.html";
              -var tooltip = "St";
              -var src = "../common/img/graw/portret/1.jpg";
              +catalog__item('Шары', href, tooltip, src)
              //===3===
          //===category===
              
          - let title = {'1': { name:'Памятники из гранита',  nameSub: ['Стандартные', 'Вертикальные','Горизонтальные','Фигурные']},
          -    '2': {name: 'Гравировка',  nameSub: ['Пейзажи', 'Обратная сторона','Портреты','Свечи', 'Цветы']}, 
          -    '3': {name: 'Плиты с портретом',  nameSub: ['Черно-белые портреты', 'Цветные портреты']},
          -    '4': {name: 'Благоустройство',  nameSub: ['Бордюрный камень', 'Гранитная и тротуарная плитка','Мраморная крошка']},
          -    '5': {name: 'Аксессуары',  nameSub: ['Вазы', 'Лампады','Шары',]}
          -  };
          //- +catalog__category(title)
          //- основной блок каталога
      



















































  //- <ol itemscope itemtype="http://schema.org/BreadcrumbList">
  //-   <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  //-     <a itemprop="item" href="/">
  //-       img.breadcrumbs__icon(src="../common.blocks/breadcrumbs/breadcrumbs.svg", alt="breadcrumbs", itemprop="icon")
  //-     </a>
  //-     <meta itemprop="position" content="1" />
  //-   </li>
  //-   <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  //-     <a itemprop="item" href="/catalog/">
  //-     <span class="breadcrumbs__item" itemprop="name">Каталог</span></a>
  //-     <meta itemprop="position" content="2" />
  //-   </li>
  //- </ol>

