//- Подключаем шаблон для всех страниц
extends ../common.blocks/tmp/template.pug

include ../common.blocks/main/catalog/catalog
include ../common.blocks/main/catalog/catalog__category/catalog__category

block title 
  title Каталог
block content 
  main.main 
    .main__container.container
      //-  первый блок - хлебные крошки

      .main__catalog.catalog 
        .catalog__box   
          - let title = {'1': { name:'Памятники из гранита',  nameSub: ['Стандартные', 'Вертикальные','Горизонтальные','Фигурные']},
          -    '2': {name: 'Гравировка',  nameSub: ['Пейзажи', 'Обратная сторона','Портреты','Свечи', 'Цветы']}, 
          -    '3': {name: 'Плиты с портретом',  nameSub: ['Черно-белые портреты', 'Цветные портреты']},
          -    '4': {name: 'Благоустройство',  nameSub: ['Бордюрный камень', 'Гранитная и тротуарная плитка','Мраморная крошка']},
          -    '5': {name: 'Аксессуары',  nameSub: ['Вазы', 'Лампады','Шары',]}
          -  };
          +catalog__category(title)
          

      //- основной блок каталога
      


















































  //- <ol itemscope itemtype="http://schema.org/BreadcrumbList">
  //-   <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  //-     <a itemprop="item" href="/">
  //-       img.breadcrumbs__icon(src="../common.blocks/breadcrumbs/breadcrumbs.svg", alt="breadcrumbs", itemprop="icon")
  //-     </a>
  //-     <meta itemprop="position" content="1" />
  //-   </li>
  //-   <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  //-     <a itemprop="item" href="/catalog/">
  //-     <span class="breadcrumbs__item" itemprop="name">Каталог</span></a>
  //-     <meta itemprop="position" content="2" />
  //-   </li>
  //- </ol>

