//- Подключаем шаблон 
extends ../common.blocks/tmp/template.pug

include ../common.blocks/main/catalog/catalog
include ../common.blocks/main/catalog/catalog__category/catalog__category

block title 
  title Каталог
block content 
  main.main 
    .main__container.container
      //-  первый блок - хлебные крошки

      .main__catalog.catalog 
        .catalog__box   
          - let title = {'1': { name:'Памятники из гранита',  nameSub: ['Стандартные', 'Вертикальные','Горизонтальные','Фигурные']},
          -    '2': {name: 'Гравировка',  nameSub: ['Пейзажи', 'Обратная сторона','Портреты','Свечи', 'Цветы']}, 
          -    '3': {name: 'Плиты с портретом',  nameSub: ['Черно-белые портреты', 'Цветные портреты']},
          -    '4': {name: 'Благоустройство',  nameSub: ['Бордюрный камень', 'Гранитная и тротуарная плитка','Мраморная крошка']},
          -    '5': {name: 'Аксессуары',  nameSub: ['Вазы', 'Лампады','Шары',]}
          -  };
          //- - let text = [
          //- -   { '1':'Стандартные модели памятников отличаются от экономичных изначальной полировкой с четырех сторон, имеют обработанные кромки в виде фасок и комплектуются цветником.',
          //- -     '2':'Вертикальные — надгробия из гранита прямоугольной простой формы',
          //- -     '3':'Горизонтальный памятник из гранита многофункционален и, кроме того, эстетичен. Горизонтальное надгробие из гранита, преимущественно устанавливается на семейные захоронения.',
          //- -     '4':'Уникальность фигурного надгробного памятника, заключается в его неповторимой форме. Всегда хочется, что бы памятник, установленный на могиле близкого Вам человека, выгодно отличался визуально.'
          //- -   },
          //- -   { '1':'Красивый пейзаж – станет органичным украшением надгробного камня',
          //- -     '2':'',
          //- -     '3':'',
          //- -     '4':'',
          //- -     '5':'Самым классическим выбором, для выражения скорби в камне, является гравировка цветов на памятник. Цветы — это символ жизни, скорби и любви',
          //- -   },
          //- -   { '1':'Керамогранит, на котором выгравирован черно-белый портрет',
          //- -     '2':'Фотокерамика или керамагранит с цветными портретами на них'
          //- -   },
          //- -   { '1':'Одним из этапов благоустройства является мощение участка с последующей установкой дорожного бордюрного камня. Его назначение: 1. cдерживать плитку или брусчатку, не давая ей расползтись, 2. препятствовать размыванию участка осадками, 3. отделить участок на кладбище от соседних.',
          //- -     '2':'Основными достоинствами плитки, при укладке на могилу, является ее эстетичность, простота последующего ухода за местом захоронения',
          //- -     '3':'Среди разных способов мощения в последнее время растет популярность отсыпки участка мраморной крошкой, окрашенной в один, два или несколько цветов',
          //- -   },
          //- -   { '1':'Вазы гранитные на могилу гармонично дополняют внешний вид захоронения. Они служат функциональным украшением как не большого захоронения, так и монументального мемориального комплекса.',
          //- -     '2':'Лампада — это специальный ритуальный светильник, который зажигают на могиле усопшего, обращаясь к Богу',
          //- -     '2':'Гранитные шары — это элемент оформления мемориальных сооружений, который располагается по углам оградки'
          //- -   }
          //- -];
          +catalog__category(title)
          //- основной блок каталога
      


















































  //- <ol itemscope itemtype="http://schema.org/BreadcrumbList">
  //-   <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  //-     <a itemprop="item" href="/">
  //-       img.breadcrumbs__icon(src="../common.blocks/breadcrumbs/breadcrumbs.svg", alt="breadcrumbs", itemprop="icon")
  //-     </a>
  //-     <meta itemprop="position" content="1" />
  //-   </li>
  //-   <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  //-     <a itemprop="item" href="/catalog/">
  //-     <span class="breadcrumbs__item" itemprop="name">Каталог</span></a>
  //-     <meta itemprop="position" content="2" />
  //-   </li>
  //- </ol>

