//- Подключаем шаблон для всех страниц
extends ../common.blocks/tmp/template.pug

block title 
  title Каталог
block content 
  main.main 
    .main__container.container
        


















































  //- <ol itemscope itemtype="http://schema.org/BreadcrumbList">
  //-   <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  //-     <a itemprop="item" href="/">
  //-       img.breadcrumbs__icon(src="../common.blocks/breadcrumbs/breadcrumbs.svg", alt="breadcrumbs", itemprop="icon")
  //-     </a>
  //-     <meta itemprop="position" content="1" />
  //-   </li>
  //-   <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  //-     <a itemprop="item" href="/catalog/">
  //-     <span class="breadcrumbs__item" itemprop="name">Каталог</span></a>
  //-     <meta itemprop="position" content="2" />
  //-   </li>
  //- </ol>

