extends ../common.blocks/tmp/template.pug

include ../common.blocks/main/promo/promo
include ../common.blocks/main/preview-catalog/preview-catalog
include ../common.blocks/main/about-us/about-us

block content 
  main.main 
    .main__container.container
      //-  первый блок - хлебные крошки

      +promo()
      //- promo

      +preview-catalog()
      //- превью каталога
      
      +about-us()
      //- О нас



























  //- <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
  //-   <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
  //-     <a itemprop="item" href="/">
  //-       img.breadcrumbs__icon(src="../common.blocks/breadcrumbs/breadcrumbs.svg", alt="breadcrumbs", itemprop="icon")
  //-     </a>
  //-     <meta itemprop="position" content="1" />
  //-   </li>
  //- </ol>

