extends ../common.blocks/tmp/template.pug

block title 
  title Шары - ЭкономГранит

block content
  main.main   
    .main__container.container
      //- breadcrumbs
      -let tooltip = 'Гранитные шары — это элемент оформления мемориальных сооружений, который располагается по углам оградки.'
      +content-mramor('Шары', tooltip, '../common/img/acc/shar/shar.jpg', 'Шар для могил')
  