extends ../common.blocks/tmp/template.pug

block title
  title Вертикальные - ЭкономГранит
block content 
  main.main   
    .main__container.container
      .main__content.content-box
        .content-box__wrapper 
          .content-box__category
            .content-box__title-box.title-box
              h3.content-box__title.title.title_h3 Памятники из гранита - вертикальные
              .content-box__question.question
                img.question__b.question__big(src="../common.blocks/main/question/question.svg", alt="tooltip" class=cl)
                .question__tooltip
                  span.question__tooltip-text Вертикальные
            .content-box__items
              
            .modal
              .modal__content
                img.modal__image(src="../common/img/pam/vert/7.jpg" alt="image")
        +pagination()

