* {
  user-select: none;
  font-family: $base-ff;
  font-size: $base-fsz;
  font-weight: $base-fw;
  color: #ffffff;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container {
  max-width:  $base-w-container;
  margin: 0 auto;
}

.title {
  color: $base-c;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  &_h3 {
    font-size: 24px;
  }
  &_h5 {
    font-size: 14px;
    font-weight: 400;
  }
}

