mixin catalog__item(titleH5, href, tooltip, src)
  .catalog__item
    a.catalog__link(href=href) 
      img.catalog__image(src=src alt="catalog-image")
    .catalog__subtitle-box  
      a.catalog__name(href="#")
        h5.catalog__subtitle.title.title_h5= titleH5
      +question(tooltip, cl)
      //- .catalog__question.question
      //-   img.question__b(src="../common.blocks/main/question/question.svg", alt="")