mixin header__top 
  .header__top.header-top 
    a.header-top__logo.logo(href="/") 
      span Эконом Гранит
    .header-top__contacts  
      a.header-top__contact(href="tel:") Тел: +7 (903) 347-55-86
      a.header-top__contact(href="tel:") Тел: +7 (903) 347-55-86
      a.header-top__contact(href="mailto:") E-mail: info.granit@mail.ru
    .header-top__buttons 
      button.header-top__button.button(type="button")  
        img.header-top__icon(src="../common.blocks/header/header-top-tel.svg", alt="tel")
        span.header-top__text заказать звонок
      button.header-top__button.button(type="button") 
        img.header-top__icon(src="../common.blocks/header/header-top-quest.svg", alt="tel")
        span.header-top__text задать вопрос