mixin footer 
  footer.footer  
    .footer__container.container
      .footer__logo.logo 
        span Эконом Гранит
        p.footer__rights 
          |Все права защищены 
          br 
          |@ЭкономГранит
      .footer__info-box 
        .footer__info
          h3.footer__title информация
          .footer__items  
            a.footer__item(href="/") Установка памятников  
            a.footer__item(href="/") Художественное оформление
        .footer__contacts
          h3.footer__title контакты 
          .footer__items 
            p.footer__item г. Пенза, ул. Коллективная 
            a.footer__item(href="tel:") Тел: +7 (903) 347-55-86  
            a.footer__item(href="mailto:") E-mail: info.granit@mail.ru   
            p.footer__item Работаем с 9:00 до 18:00
            p.footer__item Без выходных
          

