mixin about-us()
  .main__about-us.about-us
    h2.about-us__title.title.title_h2 О нас
    p.about-us__description
      |Мы много лет производим памятники из гранита.
      |Также мы предоставляем услуги по установке памятников и благоустройству могилы.
    p.about-us__description 
      |Наши коллектив — команда опытных мастеров своего дела.
    p.about-us__description 
      |Портреты, пейзажи и эпитафии, выполненные опытными художниками, с соблюдением технологий гравировки, останутся на камне на вечно.
    p.about-us__description  
      |Мы обладаем знаниями, квалификацией и производственными возможностями для создания изделий из гранита высокого качества.
